.video-text {
  display: flex;
  margin: 10px 250px;
  font-size: 1rem;
  color: dimgray;
}

.menu-bars {
  font-size: 1rem;
  color: dimgray;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 70px 300px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card {
  margin: 30px 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 5rem;
  overflow: hidden;
  background: white;
  width: 28px;
  height: 28px;
}
